body {background-color: #f9fafc;}
#main.login-bg {height: calc(100% - 159px); min-height: 750px;}

/* Form tilte and progress */
.form-title {margin: 20px 30px 0 30px;}
.form-title .form-breadcrumbs {font-size: 14px; color: #747e80; line-height: 28px;text-align: left; margin-bottom: 12px;}
.form-title .form-breadcrumbs strong {color: #663399;}
.form-title .form-info {text-align: left;}
.form-title .form-info h2 {font-size: 24px; line-height: 50px; color: #303234; font-weight: 300;}
.form-title .btn {display: block; margin-left: 6px;}
.form-title .form-progress {width: 493px; padding: 0 16px; height: 50px; position: relative;}
.form-title .form-progress:before {display: block; content: ""; width: 100%; height: 5px; top: 9px; left: 0; position: absolute; background: #edeef4;}
.form-title .form-progress li {text-align: center; position: relative; z-index: 1;}
.form-title .form-progress li span {display: block; margin: 0 auto; width: 17px; height: 17px; border-radius: 100%; border: solid 3px #edeef4; background-image: url(../img/sub/form-navigation-check.jpg); background-color: #ffffff; background-position: top; background-repeat: no-repeat;}
.form-title .form-progress li p {font-size: 14px; color: #747e80; line-height: 20px; margin-top: 7px;}
.form-title .form-progress li.on span {background-color: #663399; background-position: bottom; border: 3px solid #663399;}
.form-title .form-progress li.on p {color: #663399;}

/* mypage-profile */
.mypage-profile {padding-bottom: 24.5px;}
.mypage-profile > div:nth-child(1) {width: 100px;}
.mypage-profile > div:nth-child(2) {width: 818px; margin: 0 13px 0 62px;}
.mypage-profile > div:nth-child(3) {width: 180px;}
.mypage-profile .btn {box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.2);}

/* profile-img-edit */
.profile-img-edit {width: 100px; height: 100px; position: relative;}
.profile-img-edit .img {border-radius: 100%; width: 100px; height: 100px; background-size: cover; background-repeat: no-repeat; background-position: center; background-color: black;}
.profile-img-edit a {width: 29px; height: 29px; line-height: 29px; border-radius: 100%; border: solid 1px #edeef4; position: absolute; bottom: 0; right: 0; background: white; text-align: center;}

/* defualt-form */
.default-form { position: relative; background: white; border-radius: 3px; box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.2); margin-top: 11px; margin-bottom: 11px; padding: 20px 30px; box-sizing: border-box;}
.default-form .form-title {margin: 0 0 8px 0 !important;}
.default-form .form-title .form-info {margin-right: 10px;}

/* customer-form */
.customer-form {background-image: url(../img/sub/customer-bg.jpg); background-repeat: no-repeat; background-size: contain; background-position: right; padding: 20px 30px 60px 30px;}
.customer-form .contact {width: 240px; margin: 0 55px 0 40px; text-align: center;}
.customer-form .contact h3 {font-size: 14px; color: #747e80; line-height: 28px; font-weight: normal;}
.customer-form .contact p {font-size: 32px; font-weight: 300; color: #303234; line-height: 50px; white-space: nowrap; letter-spacing: -0.5px;}

/* icon-form */
.icon-form {padding: 18px;}
.icon-form .row {margin: 0 -9px;}
.icon-form .row .col {width: calc(20% - 18px); margin: 0 9px; padding: 35px 0 18px 0; border: 1px solid #edeef4; box-sizing: border-box; text-align: center;}
.icon-form .row .col img {display: block; margin: 0 auto 29px auto;}
.icon-form .row .col h3 {font-size: 20px; color: #464855; line-height: 29px; font-weight: normal; margin-bottom: 7px;}
.icon-form .row .col p {font-size: 14px; color: #747e80; line-height: 24px;}

/* answer */
.answer {font-size: 12px; line-height: 26px; width: 70px; border-radius: 14.5px; display: block; margin: auto;}
.answer-red {background-color: #fee8eb; color: #f91d3e;}
.answer-green {background-color: #eaf8ec; color: #2ebd41;}

/* default table */
.table:not(.table-nostyle) > thead > tr > th {text-align: left; background: #f9fafc; box-shadow: 0 1px 0 0 #edeef4; font-size: 14px; color: #747e80; line-height: 22px; padding: 9.5px 30px; font-weight: normal;}
.table:not(.table-nostyle) > tbody > tr > th, .table:not(.table-nostyle) > tbody > tr > td, .table:not(.table-nostyle) > tfoot > tr > th, .table:not(.table-nostyle) > tfoot > tr > td {text-align: left; border-bottom: 1px solid #edeef4; font-size: 14px; line-height: 24px; padding: 16.5px 30px; color: #464855; font-weight: normal;}
.table:not(.table-nostyle) > thead > tr > th.text-center, .table:not(.table-nostyle) > thead > tr > td.text-center, .table:not(.table-nostyle) > tbody > tr > th.text-center, .table:not(.table-nostyle) > tbody > tr > td.text-center {padding-left: 20px; padding-right: 20px;}
.table:not(.table-nostyle) > thead > tr > th.number {text-align: right; font-weight: 700;}
.table:not(.table-nostyle) > thead > tr > th.subject {color: black; padding-left: 0; font-weight: 700;}
.table:not(.table-nostyle) > thead > tr > th.writer, .table:not(.table-nostyle) > thead > tr > th.date, .table:not(.table-nostyle) > thead > tr > th.answer {text-align: center; padding-left: 0; padding-right: 0;}
.table:not(.table-nostyle) > tbody > tr > td.number {font-weight: 700; text-align: center !important;}
.table:not(.table-nostyle) > tbody > tr > td.subject {text-align: left;}
.table:not(.table-nostyle) > tbody > tr > td.subject.lock {background-image: url(../img/sub/lock-ico.jpg); background-repeat: no-repeat; background-position: 13px center;}
.table:not(.table-nostyle) > tbody > tr > td.writer, .table:not(.table-nostyle) > tbody > tr > td.date, .table:not(.table-nostyle) > tbody > tr > td.answer {text-align: center;}
.table:not(.table-nostyle) > tbody > tr > td.date:last-child {padding-left: 0 !important; padding-right: 0 !important; text-align: center;}
.table:not(.table-nostyle) > tfoot > tr > th, .table:not(.table-nostyle) > tfoot > tr > td {padding-top: 11px; padding-bottom: 21px;}
.table:not(.table-nostyle) > tfoot > tr > th:first-child, .table:not(.table-nostyle) > tfoot > tr > td:first-child {border-left: 1px solid #edeef4; vertical-align: top;}
.table:not(.table-nostyle) > tfoot > tr > th:last-child, .table:not(.table-nostyle) > tfoot > tr > td:last-child {border-right: 1px solid #edeef4; vertical-align: top; color: #747e80;}
.table:not(.table-nostyle) .number strong {color: #747e80;}
.table:not(.table-nostyle) .subject strong {color: #464855;}

/* table no-style */
.table.table-nostyle > tbody > tr > td {padding: 0 23px 0 17px;}
.table.table-nostyle > tbody > tr > td:last-child {padding-right: 0;}

/* table common */
.table caption {display: none;}
.table.table-center th, .table.table-center td {text-align: center;}
.table thead.thead-center th, .table thead.thead-center td {text-align: center;}
.table thead.tbody-center th, .table thead.tbody-center td {text-align: center;}
.table-outer-caption {font-size: 14px; line-height: 28px; margin-bottom: 7px;}
.table-vertical-align-middle th, .table-vertical-align-middle td {vertical-align: middle !important;}

/* table board */
.table.table-board-list > tbody > tr > td {padding-top: 8.5px; padding-bottom: 8.5px;}
.table.table-board-read > tbody > tr > td.cont {padding: 0;}
.table.table-board-read > tbody > tr > td.cont > div {padding: 22px 89px; min-height: 440px; font-size: 14px; line-height: 24px; color: #464855; box-shadow: 0 1px 0 0 #edeef4; border: solid 1px #edeef4;}
.table.table-board-write > tbody > tr > th {padding-left: 29px !important; text-align: center !important}
.table.table-board-write > tbody > tr > th:first-child {padding-left: 67px !important; text-align: left !important;}
.table.table-board-write > tbody > tr > td > input[type="text"] {letter-spacing: 0px !important;}
.table.table-board-write > tbody > tr > td > input[type="password"] {letter-spacing: 2px;}

/* pagination numbering */
.pagination-numbering {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; line-height: 24px; padding: 36px 0 16px 0;}
.pagination-numbering a {display: block;}
.pagination-numbering a.prev, .pagination-numbering a.next {font-family:"Font Awesome 5 Free"; font-weight: 900; color: #663399;}
.pagination-numbering a.prev:before {content: "\f053";}
.pagination-numbering a.next:before {content: "\f054";}
.pagination-numbering ul {padding: 0 16.5px;}
.pagination-numbering ul:after {display: block; content: ""; clear: both;}
.pagination-numbering ul li {padding: 0 16.5px; color: #464855; font-weight: 700; float: left;}
.pagination-numbering ul li a {font-size: 14px; font-weight: normal;}

/* pagination list */
.pagination-list {margin-top: 2px;}
.pagination-list td {padding: 8.5px 18px !important;}
.pagination-list td:last-child {padding-left: 0 !important; padding-right: 0 !important; text-align: center !important;}
.pagination-list td:nth-child(1) {padding-right: 0 !important;}
.pagination-list td, .pagination-list a {line-height: 24px;}
.pagination-list a.prev, .pagination-list a.next {padding-left: 32px; display: block; position: relative;}
.pagination-list a.prev:before, .pagination-list a.next:before {font-family:"Font Awesome 5 Free"; font-weight: 900; color: #663399; display: block; position: absolute; top: 0; left: 0;}
.pagination-list a.prev:before {content: "\f077";}
.pagination-list a.next:before {content: "\f078";}

/* table transparent style */
.table.table-transparent > thead > tr > th, .table.table-transparent > tbody > tr > th {color: #a7abbd; font-size: 12px; padding: 10.5px 0; text-align: center; vertical-align: top; background: none; border: none;}
.table.table-transparent > thead > tr > th:first-child, .table.table-transparent > tbody > tr > th:first-child {text-align: left;}
.table.table-transparent > tbody > tr > td {padding: 3.5px 0; font-size: 14px; color: #464855; background: none; border: none; line-height: normal; text-align: left;}
.table.table-transparent > tbody > tr > td > input[type="text"], .table.table-transparent > tbody > tr > td > select, .table.table-transparent > tbody > tr > td .input-link input {letter-spacing: 2px; color: #464855; font-weight: 300;}
.table.table-transparent > tbody > tr > td .ui-checkboxradio-label .ui-icon {margin-right: 5px !important;}
.table.table-transparent > tbody > tr > td .term {width: 100%; height: 160px; padding: 12px 27px; margin-bottom: 8px; font-size: 14px; line-height: 1.21; border: 1px solid #edeef4; overflow-y: auto; box-sizing: border-box;}
.table.table-transparent > tbody > tr > td .term + div {margin-bottom: 12px;}
.table.table-transparent > tbody > tr:first-child > th {padding-top: 10px;}
.table.table-transparent > tbody > tr:first-child > td {padding-top: 0;}
.table.table-transparent > tbody > tr:last-child > th, .table.table-transparent > tbody > tr:last-child > td {padding-bottom: 0;}
.register-form .table.table-transparent > tbody > tr > th {padding: 13.5px 0;}
.register-form .table.table-transparent > tbody > tr > td {padding: 7px 0;}

/* input-link */
.input-link {position: relative;}
.input-link input[type="text"], .input-link input[type="password"] {padding-right: 100px;}
.input-link a, .input-link input[type="image"], .input-link input[type="submit"], .input-link button {position: absolute; top: 0; right: 0; bottom: 0; line-height: 43px; margin: auto; padding: 0 17.5px; color: #663399; font-size: 14px;}
.input-link.input-link-search {width: 218px;}
.input-link.input-link-search input[type="text"], .input-link input[type="password"] {width: 100%; line-height: 34px; box-sizing: border-box; border: 0; border-radius: 40px; background-color: #f9fafc;}

/* select updown */
.select-updown {border: 1px solid #edeef4; height: 40px; box-sizing: border-box; border-radius: 4px; padding: 12px 17px;}
.select-updown > div {position: relative; width: 9px; height: 16px; float: left; margin-right: 13.5px;}
.select-updown > div > a, .select-updown > div > a > img {display: block;}
.select-updown > div > a.up {position: absolute; top: 0; left: 0;}
.select-updown > div > a.down {position: absolute; bottom: 0; left: 0;}
.select-updown > ul {float: left; height: 16px; overflow: hidden;}
.select-updown > ul > li {line-height: 16px; font-size: 14px; color: #464855; font-weight: 300;}

/* table reverse strong */
.table.table-reverse-strong > thead > tr > th, .table.table-reverse-strong > tbody > tr > th {font-weight: normal;}
.table.table-reverse-strong > thead > tr > td, .table.table-reverse-strong > tbody > tr > td {font-weight: 700;}

/* table inner element */
.table .thumb {width: 85px; height: 72px; margin-left: auto; margin-right: auto; background: #e6e6e6;}
.table .title {font-size: 16px; font-weight: 500; line-height: 24px; margin-bottom: 3px;}
.table .thumb + div {margin-top: 3px;}
.table .d-flex .thumb + div {margin-left: 15px; margin-top; 0;}

/* table toggle */
.table-toggle th, .table-toggle td {padding-left: 0 !important; padding-right: 0 !important;}
.table-toggle > tbody > tr {cursor: pointer;}
.table-toggle > tbody > tr > td {vertical-align: top;}
.table-toggle > tbody > tr > td.subject > h3 {font-weight: normal; font-size: 14px;}
.table-toggle > tbody > tr > td.subject > .toggle {line-height: 24px; color: #747e80; padding-top: 20px; font-size: 14px; display: none;}
.table-toggle > tbody > tr > td.toggle-arrow {text-align: right;}
.table-toggle > tbody > tr > td.toggle-arrow > img {margin-right: 32px; transition: 0.5s;}
.table-toggle > tbody > tr > td.toggle-arrow > img.flip {transform: scaleY(-1);}

/* login-form */
.login-form { position: relative; background: white; border-radius: 3px; box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.2); width: 660px; height: 466px; padding: 43px 103px 71px 103px; box-sizing: border-box;}
.login-form h2 {font-size: 28px; font-weight: 300; color: #303234; line-height: 50px; text-align: center;}
.login-form p {font-size: 14px; color: #747e80; line-height: 22px; text-align: center;}
.login-form h2 + p {line-height: 28px;}
.login-form .btn-wrap {margin-top: 7px; margin-bottom: 15px;}
.login-form .btn-wrap .btn {margin: 7.5px 0; font-weight: 300; padding-left: 116px; height: 60px; line-height: 60px; border-radius: 100px; text-align: left; letter-spacing: 2px; font-weight: normal;}
.login-form .btn-wrap .btn img {display: block; float: left; margin: 15px 10px 15px 0;}
.login-form > p > a {color: inherit; font-size: inherit;}
.login-form > p > a > strong {color: #663399;}
.login-form a.link-underline {position: absolute; left: 27px; bottom: 17px;}

/* register-form */
.register-form {background-color: white; box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1); margin-top: 11px; margin-bottom: 11px; padding: 40px 0 67px 0;}
.register-form h2 {font-size: 32px; font-weight: 300; color: #303234; line-height: 50px; text-align: center;}
.register-form p {font-size: 14px; color: #747e80; line-height: 22px; text-align: center;}
.register-form .register-wrap {width: 666px; padding: 33px 64px; margin: 0 auto;}
.register-form .btn {width: 180px; height: 51px; line-height: 43px;}
.register-form .ui-checkboxradio-radio-label .ui-icon,
.register-form .ui-checkboxradio-radio-label:hover .ui-icon,
.register-form .ui-checkboxradio-radio-label.ui-checkboxradio-checked .ui-icon {margin: 0 17px 0 0 !important;}

/* how-using */
.how-using {background-image: url(../img/sub/how-using-bg.jpg); background-repeat: no-repeat; background-size: cover; background-position: center; padding: 37px 0 65px 0;}
.how-using * {color: white;}
.how-using .container {width: 1120px; margin-top: 31px;}
.how-using .title {font-size: 32px; font-weight: 300; text-align: center; line-height: 50px;}
.how-using .descript {font-size: 14px; font-weight: 300; text-align: center; line-height: 2; margin-top: 11px;}
.how-using dl {width: 275px; margin: 0;}
.how-using dl dt {width: 67px; padding: 35px 0; height: 65px; text-align: center;}
.how-using dl dt img {display: block;}
.how-using dl dd {width: 186px; padding: 35px 0; margin: 0;}
.how-using dl dd h3 {font-weight: 700; font-size: 17px; letter-spacing: 2.13px;}
.how-using dl dd p {font-size: 16px; line-height: 1.5; font-weight: 300;}
.how-using .mockup {width: 758px; height: 494px; background-image: url(../img/sub/ipad.png); background-repeat: no-repeat; background-position: center; padding: 33px 63px 33px 64px; box-sizing: border-box; position: relative;} /*  cursor: pointer;
.how-using .mockup:after {position: absolute; top: 50%; left: 50%; display: block; content: ""; border-radius: 100%; width: 68px; height: 68px; margin-top: -34px; margin-left: -34px; background-image: url(../img/sub/play-triangle.jpg); background-repeat: no-repeat; background-position: center; background-color: #663399; box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);}
.how-using .mockup img {width: 100%; height: 100%;} */

/* order-form */
.order-form {min-height: 708px;}
.order-form > form > .row {margin: 3.5px -3.5px;}
.order-form > form > .row > .col-6 {width: calc(50% - 7px);}
.order-form > form > .row > .col {margin: 3.5px; padding: 22px 25px; border: 1px solid #edeef4; box-sizing: border-box; position: relative;}
.order-form > form > .row > .col .title {margin-bottom: 15px; height: 28.75px; line-height: 28.75px;}
.order-form > form > .row > .col .title.title-absolute {position: absolute; top: 22px; left: 25px; right: 25px;}
.order-form > form > .row > .col .title > h3 {font-size:: 18px; font-weight: 300; margin-right: 5px; line-height: 24px;}
.order-form > form > .row > .col .title > p {font-size: 14px; color: #747e80;}
.order-form > form > .row > .col .total-price {font-size: 24px; font-weight: 700; letter-spacing: 0.5px; color: #663399;}
.order-form > form > .row > .col .table.table-nostyle th {font-size: 14px; font-weight: normal; color: #464855; line-height: 14px; padding: 15px 0 11px 0; width: 125px; text-align: left;}
.order-form > form > .row > .col .table.table-nostyle td {font-size: 18px; font-weight: 700; color: #464855; line-height: 18px; padding: 11px 0 11px 0; margin-left: 0; text-align: right;}
.order-form .ui-checkboxradio-radio-label,
.order-form .ui-checkboxradio-radio-label:hover,
.order-form .ui-checkboxradio-radio-label.ui-checkboxradio-checked {letter-spacing: 2px; color: #464855;}
.order-form .btn-wrap {margin: 30px 0 18.5px 0;}
.order-form .btn-wrap .text-primary {width: 102px; text-align: center; font-weight: normal; letter-spacing: 2px;}
.order-form .btn-wrap .btn {margin: 0 22px !important; width: 180px;}
.order-form .table .table th, .order-form .table .table td {padding-top: 5px; padding-bottom: 5px;}

/* success-form */
.success-form {background-color: white; box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1); margin-top: 11px; margin-bottom: 62px; background-image: url(../img/sub/success-bg.jpg); background-position: bottom left; background-repeat: no-repeat;}
.success-form .form-title + .form-message {padding: 57px 0 72px 0;}
.success-form .form-message {padding: 90px 0 59px 0;}
.success-form .form-message h3 {font-size: 32px; font-weight: 300; color: #303234; line-height: 50px; text-align: center; margin: 19px 0 43px 0;}
.success-form .form-message .btn {width: 288px; margin: 0 15px; box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);}

/* ad-banner */
.ad-banner {width: 100%; height: 248px; background-image: url(../img/sub/success-ad-bg.jpg); background-size: cover; background-repeat: no-repeat; background-position: center; margin-top: 40px;}
.ad-banner h3 {font-size: 32px; font-weight: 500; line-height: 50px; letter-spacing: normal; text-align: center; color: #ffffff; width: 100%; margin-bottom: 12px;}
.ad-banner p {font-size: 16px; font-weight: 300; line-height: 25px; letter-spacing: normal; text-align: center; color: #ffffff; width: 100%;}