/* scrollbar */
::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); border-radius: 3px; background-color: #999;}
::-webkit-scrollbar{width: 6px; height: 6px; background-color: #999;}
::-webkit-scrollbar-thumb {border-radius: 3px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3); background-color: #555;}

/* clear */
html, body {height: 100%;}
body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, p {padding: 0; margin: 0;}
ul, ol, li {list-style: none;}
a {text-decoration: none; color: #444; outline: none; border: none;}
img, fieldset {outline: none; border: none;}

/* common */
* {font-family: 'Noto Sans KR', sans-serif; font-smoothing: antialiased; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -ms-osx-font-smoothing: grayscale; scrollbar-face-color: #444; scrollbar-highlight-color:#444; scrollbar-3dlight-color: #444; scrollbar-track-color: #bbb; scrollbar-shadow-color: #444; scrollbar-darkshadow-color: #444; scrollbar-arrow-color: #fff;}
html, body {min-width: 1240px;}
.blind {display: none !important;}
input {outline: 0;}
input[type="text"], input[type="password"], select + .ui-selectmenu-button {height: 43px; padding: 10px 20px; box-sizing: border-box; border: 1px solid #edeef4; background: white; border-radius: 4px;}
.visual, #main.login-bg {background-image: url(/styles/img/main/visual-bg_compressed.png);}

/* label-btn-form */
.label-btn-form:after {display: block; content: ""; clear: both;}
.label-btn-form label {border: 1px solid #e4e5ec; color: #898ea2 !important; font-weight: 300 !important; border-radius: 0; line-height: 28px !important; padding: 0; width: 66px; border-right: 1px solid #e4e5ec; box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.03); letter-spacing: 0 !important; margin-left: -0.5px; margin-right: -0.5px; display: block; float: left;}
.label-btn-form label.ui-checkboxradio-checked {color: #663399 !important; font-weight: normal !important;}
.label-btn-form label span {display: none;}

/* quantity */
.quantity {display: inline-block; position: relative;}
.quantity input {width: 107px; height: 28px; line-height: 28px; padding-top: 0; padding-bottom: 0; border-radius: 0; border: 1px solid #e4e5ec; box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.03); text-align: center;}
.quantity ul li {position: absolute; top: 0; height: 28px; width: 28px; box-sizing: border-box; border: 1px solid #e4e5ec; background-position: center; background-repeat: no-repeat;}
.quantity ul li.minus {left: 0; background-image: url(/img/sub/quantity-minus.png);}
.quantity ul li.plus {right: 0; background-image: url(/img/sub/quantity-plus.png);}

/* text */
.link-underline {font-size: 14px; color: #663399; text-decoration: underline;}
.text-primary {font-size: 14px; color: #663399;}

/* button style */
.btn {display: inline-block; text-align: center; box-sizing: border-box; width: 230px; height: 50px; font-size: 14px; letter-spacing: 1.58px; border: 3px solid #663399; line-height: 44px; border-radius: 25px;}
.btnColor {background: #663399; color: white; font-weight: 300;}
.btnBorder {background: white; color: #663399; font-weight: normal;}
.btnCenter {display: block; margin-left: auto !important; margin-right: auto !important;}
.btnKakaotalk {background: #ffe500; color: black;}
.btnFacebook {background: #455d98; color: white;}
.btnGoogle {background: #e43c2f; color: white;}
.container[class*="-form"] .btnBorder {border: 2px solid #663399;}

/* bootstrap align */
.text-left {text-align: left !important;}
.text-center {text-align: center !important;}
.text-right {text-align: right !important;}

/* bootstrap display */
.d-block {display: block;}
.d-inline-block {display: inline-block;}
.d-inline {display: inline;}
.d-flex {display: -webkit-box; display: -ms-flexbox; display: flex;}

/* bootstrap width */
.w-25 {width: 25%;}
.w-50 {width: 50%;}
.w-75 {width: 75%;}
.w-100 {width: 100%;}

/* bootstrap width select */
select.w-25 + .ui-selectmenu-button {width: 25%;}
select.w-50 + .ui-selectmenu-button {width: 50%;}
select.w-75 + .ui-selectmenu-button {width: 75%;}
select.w-100 + .ui-selectmenu-button {width: 100%;}

/* bootstrap height */
.h-25 {height: 25%;}
.h-50 {height: 50%;}
.h-75 {height: 75%;}
.h-100 {height: 100%;}

/* bootstrap flex */
.justify-content-start {-webkit-box-pack: start !important; -ms-flex-pack: start !important; justify-content: flex-start !important;}
.justify-content-end {-webkit-box-pack: end !important; -ms-flex-pack: end !important; justify-content: flex-end !important;}
.justify-content-center {-webkit-box-pack: center !important; -ms-flex-pack: center !important; justify-content: center !important;}
.justify-content-between {-webkit-box-pack: justify !important; -ms-flex-pack: justify !important; justify-content: space-between !important;}
.justify-content-around {-ms-flex-pack: distribute!important; justify-content: space-around !important;}
.align-items-start {-webkit-box-align: start !important; -ms-flex-align: start !important; align-items: flex-start !important;}
.align-items-end {-webkit-box-align: end !important; -ms-flex-align: end !important; align-items: flex-end !important;}
.align-items-center {-webkit-box-align: center !important; -ms-flex-align: center !important; align-items: center !important;}
.align-items-baseline {-webkit-box-align: baseline !important; -ms-flex-align: baseline !important; align-items: baseline !important;}
.align-items-stretch {-webkit-box-align: stretch !important; -ms-flex-align: stretch !important; align-items: stretch !important;}
.flex-wrap {flex-wrap: wrap !important;}
.flex-reverse {flex-wrap: wrap-reverse !important;}
.flex-nowrap {flex-wrap: nowrap !important;}

/* bootstrap grid system */
.container {width: 1240px; margin: 0 auto; overflow-x: hidden;}
.row {display: flex; flex-wrap: wrap; -ms-flex-wrap: wrap; margin: 0 -18.75px;}
.row .col {display: block; margin: 0 18.75px;}
.row .col-1 {width: calc(8.333% - 37.5px);;}
.row .col-2 {width: calc(16.666% - 37.5px);}
.row .col-3 {width: calc(25% - 37.5px);}
.row .col-4 {width: calc(33.333% - 37.5px);}
.row .col-5 {width: calc(41.666% - 37.5px);}
.row .col-6 {width: calc(50% - 37.5px);}
.row .col-7 {width: calc(58.333% - 37.5px);}
.row .col-8 {width: calc(66.666% - 37.5px);}
.row .col-9 {width: calc(75% - 37.5px);}
.row .col-10 {width: calc(83.333% - 37.5px);}
.row .col-11 {width: calc(91.666% - 37.5px);}
.row .col-12 {width: 100%;}
.row .col-10-per {width: calc(10% - 37.5px);}
.row .col-20-per {width: calc(20% - 37.5px);}
.row .col-30-per {width: calc(30% - 37.5px);}
.row .col-40-per {width: calc(40% - 37.5px);}
.row .col-60-per {width: calc(60% - 37.5px);}
.row .col-70-per {width: calc(70% - 37.5px);}
.row .col-80-per {width: calc(80% - 37.5px);}
.row .col-90-per {width: calc(90% - 37.5px);}

/* popup */
#popup {display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.4); z-index: 999999;}
#popup .popup-window {display: none; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background: white; border-radius: 3px; box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.2); min-width: 470px; min-width: 470px; max-width: 1240px; max-height: 90%; overflow-y: auto;}
#popup .popup-window .popup-close {width: 12px; height: 12px; padding: 12px; position: absolute; top: 6px; right: 0px; background-image: url(/img/common/popup-close.png); background-repeat: no-repeat; background-position: center; background-size: 12px 12px; cursor: pointer;}
#popup .popup-window .popup-wrap h2 {font-size: 28px; font-weight: 300; color: #303234; line-height: 50px; text-align: center;}
#popup .popup-window .popup-wrap p {font-size: 14px; color: #747e80; line-height: 22px; text-align: center;}
#popup .popup-window .popup-wrap h2 + p {line-height: 28px;}
#popup .popup-window .popup-wrap input[type="password"] {width: 330px; display: block; margin: 18px 0 25px 0; border-radius: 0; border: 1px solid #e4e5ec; box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.03);}
#popup .popup-window .popup-wrap .inner {padding: 40px 50px;}

#popup #popup_window_prepare .popup-wrap .inner {text-align: center; padding: 64.5px 50px;}
#popup #popup_window_admin .popup-wrap .inner, #popup #popup_window_inquiry .popup-wrap .inner {text-align: center; padding: 25px 70px 45px 70px; }

#popup #popup_window_diary .popup-wrap #diary-slot {width: 1140px; height: 575px; background: #d8d8d8; position: relative; margin: 12px 0 25px 0px;}
#popup #popup_window_diary .popup-wrap #diary-slot ol li {position: absolute; top: 50%; transform: translateY(-50%);}
#popup #popup_window_diary .popup-wrap #diary-slot ol li:first-child {left: -36px;}
#popup #popup_window_diary .popup-wrap #diary-slot ol li:last-child {right: -36px;}
#popup #popup_window_diary .popup-wrap #diary-progress div:first-child {padding: 0 73px;}
#popup #popup_window_diary .popup-wrap #diary-progress div:last-child .btn {width: 180px;}
#popup #popup_window_diary .popup-wrap #diary-progress div:last-child .btnColor {margin-left: 17px;}

/* header */
#header {height: 73px; position: relative; z-index: 99999; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);}
#header h1 {float: left; padding: 16.5px 0;}
#header h1 a {display: block; overflow: hidden; height: 40px;}
#header h1 img {display: block;}
.transparent-header #header h1 {box-shadow: none;}
.transparent-header #header h1 img {margin-top: -40px;}


#header #gnb {float: right;}
#header #gnb > ul:after {display: block; content: ""; clear: both;}
#header #gnb > ul > li {float: left; line-height: 73px; margin-left: 25px; font-size: 14px;}
#header #gnb > ul > li:last-child a {display: inline-block; width: 100px; height: 37px; line-height: 37px; text-align: center; border: 1px solid black; text-align: center; border-radius: 18.5px;}

/* transparent header */
body.transparent-header #header {box-shadow: none;}
body.transparent-header #header ul > li > a {color: white;}
body.transparent-header #header #gnb > ul > li:last-child a {border: 1px solid white;}
body.transparent-header #main {margin-top: -73px;}

/* footer */
#footer * {font-family: "NanumSquareRound", sans-serif; font-weight: 300;}
#footer {background: #282828; padding: 40px 0;}
#footer .title:after {display: block; content: ""; clear: both;}
#footer .title h3 {float: left; height: 22px;}
#footer .title h3 a {display: block;}
#footer .title h3 img {display: block;}
#footer .title .fnb {float: left;}
#footer .title .fnb ul:after {display: block; content: ""; clear: both;}
#footer .title .fnb ul li {float: left; padding-left: 28px;}
#footer .title .fnb ul li a {color: white; font-size: 14px; letter-spacing: 1.75px; line-height: 22px;}
#footer p {font-size: 10px; color: #b8b8b8; filter: alpha(opacity=70); line-height: 21px; margin-top: 15px;}
#footer .sns {}
#footer .sns ul:after {display: block; content: ""; clear: both;}
#footer .sns ul li {float: left; margin-left: 34px; display: inline-block;}
#footer .sns ul li:first-child {margin-left: 0;}
#footer .sns ul li a {color: #b8b8b8; display: inline-block;}
#footer .sns ul li:nth-child(1) a svg {width: 19px; height: 21px; display: inline;}
#footer .sns ul li:nth-child(2) a svg {width: 19px; height: 19px; display: inline;}
#footer .sns ul li:nth-child(3) a svg {width: 12.5px; height: 20px; display: inline;}