//colors
$off-white: #ffffff;
$off-purple : #663399;
$off-light-white : #fbfbfb;
$off-gray : #474747;
//font
$basic-font : NotoSansCJKkr;
$s-size : 1.4rem;
$m-size : 1.6rem;
$l-size : 2rem;
$xl-size : 2.8rem;
