//colors
$off-white: #ffffff;
$off-purple : #663399;
$off-light-white : #fbfbfb;
$off-gray : #e2e2e2;
$off-black : #000000;
$off-brown : #707070;
//font
$basic-font : NotoSansCJKkr;
$font-nanum : NanumSquareRoundOTFL;
$s-size : 14px;
$m-size : 1.6rem;
$l-size : 2rem;
$xl-size : 2.8rem;
